#outer_course{
	width: 1166px;
	height : 768px;
	background : white;
	margin-left : 200px;
}

#tabelnya{
	margin-top : 60px;
	margin-left : 85px;
	position : absolute;
}

.table {
    border: 2px solid 
	rgb(128, 195, 64);
}


.table-isi {
    border: 2px solid white;
    box-shadow: 0px 0px 2px 
	rgb(175, 175, 175);
}


.isi-header {
    font-family: Calibri;
    font-size: 50px;
    color: Black;
	font-style: italic;
}

.isi {
	text-decoration: none;
    font-family: Calibri;
    font-size: 16px;
    color: rgb(0, 128, 0);
}


.isi-table {
    font-family: Calibri;
    font-size: 15px;
    color: black;
}
